@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--background: oklch(0.97 0.006 158.4);
	--foreground: oklch(0.07307397501276269 0.016970516160770138 158.36);
	--card: oklch(0.9279999999999999 0.009 158.4);
	--card-foreground: oklch(0.319 0.057 158.4);
	--popover: oklch(0.8673835125448028 0.025899280575539585 158.4);
	--popover-foreground: oklch(0.43915496360351125 0.10207493251633593 158.36);
	--muted: oklch(0.867 0.012 158.4);
	--muted-foreground: oklch(0.460431654676259 0.002 148.38709677419354);
	--primary: oklch(0.5053763440860215 0.1093525179856115 158.4);
	--primary-foreground: oklch(0.9247311827956989 0.03453237410071943 158.4);
	--secondary: oklch(0.7498770339706151 0.0037455776096096474 158.36);
	--secondary-foreground: oklch(0.999999993473546 0 none);
	--accent: oklch(0.8490000000000001 0.028 159.1);
	--accent-foreground: oklch(0.4050179211469534 0.06618705035971222 158.4);
	--destructive: oklch(
		0.8039674880839491 0.1121274637612664 29.603127163251855
	);
	--destructive-foreground: oklch(
		0.041053114978494065 0.016636861633595727 29.603127163251855
	);
	--border: oklch(0.5478163550015569 0.12733202673007601 158.36);
	--input: oklch(0.3457988900233766 0.08034142531519892 158.36);
	--ring: oklch(0.026872281301506096 0.006226945784547145 158.36);
	--sidebar-background: oklch(0.88 0.011 158.4);
	--sidebar-foreground: oklch(0.4876315006546656 0.11333492189866692 158.36);
	--sidebar-primary: oklch(0.61 0.13 158.4);
	--sidebar-primary-foreground: oklch(
		0.3083215397325838 0.07166117857451733 158.36
	);
	--sidebar-accent: oklch(0.695 0.098 158.4);
	--sidebar-accent-foreground: oklch(0.396 0.081 157.4);
	--sidebar-border: oklch(0.02685075661618508 0.006222996119171824 158.36);
	--sidebar-ring: oklch(0.8800262571652766 0.13556046266383923 158.36);
	--chart-1: oklch(0.609600640603253 0.08920044338736606 158.36);
	--chart-2: oklch(0.16303002531776745 0.037868433088714695 158.36);
	--chart-3: oklch(0.39050636020157015 0.09076456967407501 158.36);
	--chart-4: oklch(0.6866838324835942 0.012073775445849932 158.36);
	--chart-5: oklch(0.003415927330975732 0.0007694782080459647 158.36);
	--radius: 1rem;
}
.dark {
	--background: oklch(0.04174477601303151 0.00968024695837642 158.36);
	--foreground: oklch(0.7143169860417642 0.16602436039669594 158.36);
	--card: oklch(0.2455058294933433 0.019065264117812463 158.36);
	--card-foreground: oklch(0.8879203192672385 0.19068869589981854 158.36);
	--popover: oklch(0.13105417661602495 0.009348063539241579 158.36);
	--popover-foreground: oklch(0.6894794659006911 0.1602450846717145 158.36);
	--muted: oklch(0.2568950298466569 0.02786516579265534 158.36);
	--muted-foreground: oklch(0.564936027597768 0.060413599157487716 158.36);
	--primary: oklch(0.693537730866516 0.005895417549279625 158.36);
	--primary-foreground: oklch(0.999999993473546 0 none);
	--secondary: oklch(0.36217510053586505 0.06849484232417712 158.36);
	--secondary-foreground: oklch(0.78380105225956 0.1072014830246994 158.36);
	--accent: oklch(0.31160192672834125 0.003847067106052915 158.36);
	--accent-foreground: oklch(0.722087362395312 0.08297752159423764 158.36);
	--destructive: oklch(0.68409212849309 0.1772097217951257 29.603127163251855);
	--destructive-foreground: oklch(0.999999993473546 0 none);
	--border: oklch(0.8782738942993591 0.204146614266576 158.36);
	--input: oklch(0.5664574549548314 0.12626783318891954 158.36);
	--ring: oklch(0.17980584748136286 0.04179728583295346 158.36);
	--sidebar-background: oklch(0.2546254904810827 0.006204168875968186 158.36);
	--sidebar-foreground: oklch(0.8147049913078366 0.06779337993515658 158.36);
	--sidebar-primary: oklch(0.9712340084878914 0.04298387331647488 158.36);
	--sidebar-primary-foreground: oklch(
		0.5016366027683814 0.02310141471710816 158.36
	);
	--sidebar-accent: oklch(0.04833410272916705 0.011203348223877953 158.36);
	--sidebar-accent-foreground: oklch(
		0.5989303788312433 0.09680376104746474 158.36
	);
	--sidebar-border: oklch(0.9000611341257434 0.16656141334604135 158.36);
	--sidebar-ring: oklch(0.11317984291239758 0.02630905710534254 158.36);
	--chart-1: oklch(0.48563806035478785 0.11287260433194421 158.36);
	--chart-2: oklch(0.41185823213597117 0.009359885859750427 158.36);
	--chart-3: oklch(0.7373738394705118 0.17138754672985573 158.36);
	--chart-4: oklch(0.6132141944287692 0.02949871308841905 158.36);
	--chart-5: oklch(0.6845079438140433 0.1591008318863827 158.36);
	--radius: 1rem;
}
@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground text-pretty;
	}
}
